<p id="notice"><%= notice %></p>

<h1>Listing Shrines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name hiragana</th>
      <th>Name katakana</th>
      <th>Detail</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Address</th>
      <th>Hp</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shrines.each do |shrine| %>
      <tr>
        <td><%= shrine.name %></td>
        <td><%= shrine.name_hiragana %></td>
        <td><%= shrine.name_katakana %></td>
        <td><%= shrine.detail %></td>
        <td><%= shrine.longitude %></td>
        <td><%= shrine.latitude %></td>
        <td><%= shrine.address %></td>
        <td><%= shrine.hp %></td>
        <td><%= shrine.tags %></td>
        <td><%= link_to 'Show', shrine %></td>
        <td><%= link_to 'Edit', edit_shrine_path(shrine) %></td>
        <td><%= link_to 'Destroy', shrine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shrine', new_shrine_path %>
